# ignore the .obsidian folder
.obsidian/themes
.obsidian/app.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/switcher.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspaces.json

adventures
